<img src="img/mae-e-filho.jpeg" alt="Mâe segurando o filho no colo, ambos estão de costa olhando para o horizonte">
        <h1>
            Boaventura: um espaço feito por mães, para mães.</h1>
        <p>
            Aqui você encontra outras mâes que entendem o seu dia a dia. Desabafe, tire dúvidas e compartilhe as fases
            da maternidade, porque juntas somos mais fortes.
        </p>
        <section>
            <h2>Quem somos.</h2>
            <p>A ONG Boaventura é uma comunidade dedicada ao acolhimento e apoio de mães.
                Nosso objetivo é criar um espaço seguro para compartilhar experiencias, trocar dicas, encontrar apoio
                emocional e fortalecer laços, porque acreditamos que nenhuma mãe deve caminhar sozinha.
            </p>
        </section>
        <section>
            <h2>O que fazemos</h2>
            <p>Promovemos o acolhimento e a conexão entre mães por meio da troca de experiencias, apoio emocional,
                compartilhamentos de informaçoes e construção de rede de apoio.
                Nosso Objetivo é fortalecer mulheres e familias, oferecendo um espaço segura de escuta, aprendizado e
                incentivo mútuo.
            </p>
        </section>

        <section>
        <h2> Contato</h2>
        <p> E-mail: contato@boaventura.org</p>
        <p>Telefone: (61)90000-0000</p>
        <p>Endereço: Rua exemplo, 100, Brasilia- DF</p>
    </section>